@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css';

$fretboard-color: #fff;
$fret-color: #aaa;
$nut-color: #212529;
$string-color: #ccc;
$nut-width: 10px;
$fret-width: 65px;


#controls{
	display: flex;
	justify-content: center;
	gap: 80px;

	#color-selection-container{
		display: flex;
		gap: 10px;

		.btn-note-color{
			width: 60px;
			height: 30px;
			background: black;
			border-radius: 5px;
			cursor: pointer;

			&:has(input:checked){
				outline: 3px solid #eee;
			}

			input{
				display: none;
			}
		}
	}
}




#print-area{
	margin: 80px auto;
	width: fit-content;
	padding: 25px 10px 25px 61px;
}

#fretboard{
	width: fit-content;
	background: $fretboard-color;
	display: flex;

	.fret{
		width: $fret-width;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 40px;
		position: relative;

		&:first-child{			
			width: $nut-width;

			&::after{
				content: '';
				width: 100%;
				height: 100%;
				background: $nut-color;
				position: absolute;
				right: 0;
			}

			.string{
				z-index: 20;
				
				&::after, .note{
					transform: translateX(-100%);
				}
			}
		}

		// fret bar
		&::after{
			content: '';
			width: 6px;
			height: 100%;
			background: $fret-color;
			position: absolute;
			right: 0;
		}

		.marker{
			width: 25px;
			height: 25px;
			background: #ccc;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(calc(-50% - 3px), -50%);
		}

		.double_marker{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(calc(-50% - 3px), -50%);
			width: fit-content;
			height: 60%;

			.marker{
				position: static;
				transform: translate(0);
			}
		}

		.string{
			width: 100%;
			height: 2px;
			background: $string-color;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 10;
			
			$str_height: 7;

			@for $i from 1 through 3 {
			  &:nth-last-child(#{$i}) {
			    height: #{$str_height}px;
			    border-top: 2px solid $string-color;
					border-bottom: 2px solid $string-color;
					background: #f6f6f6;
			  }
			  $str_height: $str_height - 1
			}


			@mixin note{
				width: 38px;
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				border: none;
				transform: translateX(-3px); // metade do tamanho do traste
			}

			&::after{
				content: '';
				position: absolute;
				@include note;
				cursor: pointer;
			}

			&:hover{
				&::after{
					background: hsla(0, 0%, 0%, 0.5);
				}
			}

			.note{
				@include note;
				background: black;
				color: white;
				caret-color: transparent;
				font-size: 20px;
        font-weight: 600;
				text-align: center;
				cursor: pointer;
				z-index: 10;

				&:focus-visible{
					outline: 2px solid #888;
				}
			}
		}
	}
}



#btn-reset{
	display: block;
	margin: 0 auto;
}